@font-face {
  font-family: PP Agrandir Variable;
  src: url(/Fonts/PPAgrandir-Variable.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;700&display=swap');

:root{
  --grey-black: #000000; 
  --grey-1000: #0d0d0d; 
  --grey-950: #191919; 
  --grey-900: #252525; 
  --grey-800: #3d3d3d; 
  --grey-700: #565656; 
  --grey-600: #6e6e6e; 
  --grey-500: #868686; 
  --grey-400: #9e9e9e; 
  --grey-300: #b6b6b6; 
  --grey-200: #cfcfcf; 
  --grey-100: #e7e7e7; 
  --c-txt: #ffffff; 
  --main-cyan: #00ffb2; 
  --main-magenta: #ff00d6; 
  --main-yellow: #ffd900; 
  --gradient-white: linear-gradient(1deg, #ffffff 0%, #ffffff 46.15%, #ffffff 100%); 
  --transparent-black-80: #0d0d0d; 
  --transparent-black-60: #0d0d0d; 
  --agrandir-default: 300 1rem/1.5 PP Agrandir Variable;
  --agrandir-16px-bold: 700 1rem/1.5 PP Agrandir Variable; 
  --agrandir-20px-light: 300 1.25rem/1.5 PP Agrandir Variable; 
  --agrandir-20px-medium: 500 1.25rem/1.5 PP Agrandir Variable; 
  --agrandir-20px-bold: 700 1.25rem/1.5 PP Agrandir Variable; 
  --agrandir-20px-regular: 400 1.25rem/1.5 PP Agrandir Variable; 
  --agrandir-25px-light: 300 1.5625rem/1.2 PP Agrandir Variable; 
  --agrandir-25px-medium: 500 1.5625rem/1.2 PP Agrandir Variable; 
  --agrandir-25px-bold: 700 1.5625rem/1.2 PP Agrandir Variable;
  --agrandir-31px-bold: 700 1.9375rem/1.2 PP Agrandir Variable;
  --exo-13px-medium: 500 0.8rem/1.5 Exo;
  --exo-16px-medium: 500 1rem/1.5 Exo;
  --exo-16px-medium-maj: 500 1rem/1.5 Exo;
  --exo-20px-medium-maj: 500 1.25rem/1.5 Exo; 
  --exo-20px-bold: 700 1.25rem/1.5 Exo;
  --exo-31px-medium: 500 1.9375rem/1.2 Exo;
  --exo-31px-medium-maj: 500 1.9375rem/1.2 Exo;
  --exo-39px-medium-maj: 500 2.4375rem/1.2 Exo;
  --exo-48px-medium-maj: 500 3rem/1.2 Exo;
  --exo-61px-medium: 500 3.8125rem/1.2 Exo;
  --exo-61px-medium-maj: 500 3.8125rem/1.2 Exo; 
  --icons-16px-regular: 400 1rem Font Awesome 6 Free; 
  --icons-20px-regular: 400 1.25rem Font Awesome 6 Free; 
  --icons-16px-solid: solid 1rem Font Awesome 6 Free; 
  --icons-20px-solid: solid 1.25rem Font Awesome 6 Free; 
}

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--c-txt);
}

body{
  font: var(--agrandir-default);
  background-color: var(--grey-1000);
  color: var(--c-txt);
  line-height: 1.5;
}

.title{
  letter-spacing: .4rem;
  text-transform: uppercase;
  text-align: center;

  &__huge{
    font: var(--exo-31px-medium-maj);
    line-height: 1.5;

    @media(min-width: 992px){
      font: var(--exo-61px-medium-maj);
    }
  }

  &--block{
    display: block;

    @media(min-width: 992px){
      text-align: left;
    }
  }

  &--medium{
    font: var(--exo-20px-medium-maj);
    letter-spacing: .2rem;

    @media(min-width: 992px){
      font: var(--exo-48px-medium-maj);
      margin-bottom: 32px;
    }
  }

  &--small{
    letter-spacing: normal;
    font: var(--agrandir-25px-bold);
    text-transform: none;
    text-align: left;
  }

  &--light{
    font: var(--exo-20px-medium-maj);
    letter-spacing: .25rem;
    // letter-spacing: normal;
    // text-transform: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

  }
}

.logo{
  background-image: url(/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 178px;
  height: 118px;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 16px auto 0 auto;

  &__txt{
    width: 100%;
    position: absolute;
    white-space: nowrap;
    text-indent: 100%;
  }

  &--smaller{
    width: 120px;
    height: 80px;

    @media(min-width: 992px){
      margin-top: 0;
    }
  }
}

.mainContent{
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media(min-width: 992px){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    max-width: 1200px;
    margin: auto;
    gap: 64px;
  }

  &--top{
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 64px;
    box-sizing: border-box;
    height: 100%;
    gap: 24px;
    max-width: 600px;
    margin: auto;

    @media (min-width: 992px){
      display: flex;
      justify-content: flex-end;
      padding-bottom: 32px;
    }
  }


  &--centered{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;

    @media (min-width: 992px){
      display: flex;
      justify-content: flex-end;
      padding-bottom: 64px;
      box-sizing: border-box;
      gap: 16px;
    }
  }

  &__sub{
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media(min-width: 992px){
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 16px;
      max-width: 1200px;
      margin: auto;
      
    }

    &--nogrid{
      display: flex;
    }

    &--space{
      row-gap: 8px;

      @media(min-width: 992px){
        row-gap: 64px;
      }

      .text--centered{
        margin-bottom: 32px;

        @media(min-width: 992px){
          margin-bottom: 0;
        }
      }
    }
  }

  &--diamondBg{
    background: linear-gradient(180deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 23.23%, rgba(13, 13, 13, 0) 81.04%, #0D0D0D 100%), url(/background-diamond.svg);
    background-size: contain;
    background-position: center;
    padding-bottom: 48px;
    padding-top: 96px;
    margin-bottom: 48px;

    @media(min-width: 992px){
      background-size: cover;
      padding-bottom: 192px;
      padding-top: 96px;
    }
  }

  &--onlySpace{
    padding: 0;
    display: block;
  }

  @media(min-width: 992px){
    &--bottom{
      justify-content: center;
      gap: 48px;
    }
  }
}


.chapters{
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media(min-width: 992px){
    display: flex;
    flex-direction: row;
  }
}

.section{
  margin-bottom: 160px;

  @media(min-width: 992px){
    padding-top: 128px;
    margin-bottom: 128px;
  }

  &__sub{
    margin-bottom: 96px;

    @media(min-width: 992px){
      margin-bottom: 192px;
    }
  }

  &--full{
    height: 100vh;
  }

  &--top{
    background: linear-gradient(360deg, #0D0D0D 0%, rgba(13, 13, 13, .8) 30%, rgba(13, 13, 13, 0) 60%), linear-gradient(90deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 19.58%, rgba(13, 13, 13, 0) 88.33%, #0D0D0D 100%);
    background-position: center;
    background-size: cover;    
  }

  &--bottom{
    background-image: url(/plexus.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 70%;

    @media(min-width: 992px){
      max-height: 800px;
      background-size: contain;
    }
  }

  &--diamondBg{
    @media(min-width: 992px){
      margin-bottom: 0;
    }
  }
}

.text{

  &--highlighted{
    font: var(--agrandir-20px-bold);
    margin-top: 24px;

    @media(min-width: 992px){
      padding: 48px 0;
      border-top: 1px solid var(--c-txt);
      border-bottom: 1px solid var(--c-txt);
    }

  }

  &--centered{
    @media(min-width: 992px){
      text-align: center;
    }
  }

  &--big{
    font: var(--agrandir-20px-light);
  }

}

.vote{
  position: relative;

  &__img{
    width: 100%;
  }

  &__result{
    position: absolute;
    padding: 8px 16px;
    background-color: var(--c-txt);
    color: var(--grey-1000);
    bottom: 16px;
    font: var(--exo-20px-medium-maj);

    &--winner{
      right: 0;
      transform: scale(1.5);
    }

  }
  

  &__name{
    font:var(--agrandir-default);
  }

}

video{
  background-color: var(--grey-600);
  width: 100%;
}


.topBg{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -10;
  background-image: url(/landing-prota.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media(min-width: 992px) and (max-height: 1200px){
    background-size: contain;
  }

  &--bg{
    background-size: cover;
    background-image: url(/landing-bg.png);
    z-index: -11;
  }

  &--hidden{
    opacity: 0;
  }
}

.bg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100vh;
  z-index: -9;
  background-color: var(--grey-1000);

  &--fixed{
    position: fixed;
    top: 0;
  }
}




/* GRID */
@media(min-width: 992px){
  .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
  }
}


.grid-start-01{
  grid-column-start: 1;
}

.grid-start-02{
  grid-column-start: 2;
}

.grid-start-03{
  grid-column-start: 3;
}

.grid-start-04{
  grid-column-start: 4;
}

.grid-start-05{
  grid-column-start: 5;
}

.grid-start-06{
  grid-column-start: 6;
}

.grid-start-07{
  grid-column-start: 7;
}

.grid-start-08{
  grid-column-start: 8;
}

.grid-start-09{
  grid-column-start: 9;
}

.grid-start-10{
  grid-column-start: 10;
}



.grid-end-03{
  grid-column-end: 3;
}

.grid-end-04{
  grid-column-end: 4;
}

.grid-end-05{
  grid-column-end: 5;
}

.grid-end-06{
  grid-column-end: 6;
}

.grid-end-07{
  grid-column-end: 7;
}

.grid-end-08{
  grid-column-end: 8;
}

.grid-end-09{
  grid-column-end: 9;
}

.grid-end-10{
  grid-column-end: 10;
}

.grid-end-11{
  grid-column-end: 11;
}

.grid-end-12{
  grid-column-end: 12;
}

.grid-end{
  grid-column-end: -1;
}